@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap");
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Marhey", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;

  background-color: rgba(89, 129, 101, 0);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.445);
  filter: brightness(10%);
}

input {
  outline: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

textarea {
  outline: none;
}

textarea::selection {
  background: var(--color-brown-900);
  color: var(--color-brown-200);
}

input[type="search"]::-webkit-search-cancel-button {
  filter: brightness(0);
  cursor: pointer;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

@theme {
  --color-brown-100: #f3e9e1;
  --color-brown-200: #edd9ca;
  --color-brown-300: #d1b29d;
  --color-brown-400: #b98d70;
  --color-brown-500: #82583f;
  --color-brown-600: #6a4532;
  --color-brown-700: #543425;
  --color-brown-800: #3e2419;
  --color-brown-900: #29160d;
  --color-green-500: #2d6856;
  --color-tag-bg: #fddbc5;
  --font-title: "Marhey", sans-serif;
}
